/* index.blade.php */
.card {
    margin-top: 50px;
    border-radius: 15px;
    border: none;
}

.card-body {
    padding: 40px;
}

.btn {
    border-radius: 25px;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

job-portal-text {
    font-size: 1.2rem;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.job-portal-text span {
    font-style: normal; 
}

.job-portal-text span:first-child {
    margin-right: 5px;
}

.job-portal-text span:last-child {
    margin-left: 5px;
}

.job-portal-text span:nth-child(2) {
    color: #007bff; 
}

/* candidateLogin/CandidateRegister */
.custom-card-header {
    color: black; 
    font-size: 24px; 
    /* font-weight: bold;  */
}

.form-group {
    margin-bottom: 15px;
    margin-top: 10px; 
}

.company-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}


.company-logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
}

.company-details {
    text-align: center;
    margin-top: 10px;
}

.company-name {
    font-size: 18px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.section-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.decorative-line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #007bff; 
    margin: 0 auto 20px; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff9800 !important;
}

.banner-card {
    background-color: #f8f9fa; /* Light gray background */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.banner-title {
    color: #009688; /* Green color */
    font-weight: bold; /* Bold font weight */
    padding: 20px 0; /* Vertical padding */
    margin: 0; /* Remove default margin */
    font-family: 'Arial', sans-serif; /* Change font family */
    text-transform: uppercase; /* Transform text to uppercase */
}

.btn-success {
    background-color: #0b942e;
    color: #fff;
    padding: 0.375rem 3rem; /* Adjust padding to match btn-primary */
    font-size: 1rem; /* Adjust font size to match btn-primary */
    /* Add other necessary styling properties */
}

.btn-orange {
    background-color: #137ace;
    color: #fff;
    padding: 0.375rem 3rem; /* Adjust padding to match btn-primary */
    font-size: 1rem; /* Adjust font size to match btn-primary */
    /* Add other necessary styling properties */
}




